<!DOCTYPE html>
<html>
    <head>
        <title>MindfulMoney | Home</title>
        <meta charset=utf-8>
        <link rel="stylesheet", href="C:\Users\jaide\Documents\MindfulMoney\scripts\static\css\styles.css">
        <link rel="icon" href="MindfulMoneyLogo.jpg">
    </head>

    <body>
        <!--header and links to other pages-->
        <h1>MindfulMoney</h1>
        <img src="MindfulMoneyLogo.jpg" alt="image not found">
        <nav>
            <ul>
                <li><a href="transactions.html">Transactions</a></li>
                <li><a href="income.html">Incomes</a></li>
                <li><a href="expenses.html">Expenses</a></li>
                <li><a href="budget.html">Budget</a></li>
            </ul>
        </nav>

        <!--banner-->
        <p><em>Track your spending, anaylize income, and budget smarter</em></p>
        <!--list the features of the website: track transactions, analyze income and expenses, set budgets, upload bank statements-->

    </body>
</html>